<% include header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2><b>Hey !</b></h2>
        <p>This website is one of the most secure Web app on the internet.</p>
        <p><i>We developed it using Node.js, MongoDB, .. Only secure technologies !</i></p>
        <br />
        <p>You don't <b>trust us ? </b> </p>
        <p>Get <b>r00t</b> and show us that we were wrong then..</p>
      </div>
    </div> <!-- /container -->

<% include footer.ejs %>