<% include header.ejs %>

    <div class="container form-user">

        <% if (message != null && message != "") { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% } %>
      <form class="form-signin" action="/change-password" method="POST">
        <h2 class="form-signin-heading">Please Log in</h2>
        <input type="text" class="input-block-level" placeholder="<%= username %>" name="username" disabled>
        <input type="password" class="input-block-level" placeholder="Password" name="password"><br />
        <button class="btn btn-large btn-primary" type="submit">Change password</button>
      </form>

    </div> <!-- /container -->

<% include footer.ejs %>