<% include header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Hey, there !</h2>
        <p><b>Secure Web App</b> is part of the vulnerable VM called SecOS-1.</p>
        <p>Want to give it a try ?</p>
        <p>Explore the website, get root and read the flag: <i>/root/flag.txt<i>.</p>
      </div>
    </div> <!-- /container -->

<% include footer.ejs %>