<% include header.ejs %>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hey, there !</h1>
        <p><b>Secure Web App</b> is a website allowing you to test your penetration testing skills. Will you manage to root the server ?</p>
        <p>Want to give it a try ?</p>
        <p><i>Explore the website and discover the Web vulnerabilities.</i></p>
      </div>
    </div> <!-- /container -->

<% include footer.ejs %>